---
import { cn } from '@lib/utils';
import { cva, type VariantProps } from 'class-variance-authority';

interface Props extends VariantProps<typeof dropdownGroup> {
  class?: string;
};

const dropdownGroup = cva("grid gap-1 p-1", {
  variants: {
    border: {
      false: "border-b-0",
      true: "border-b border-b-[--sl-color-gray-5]"
    }
  }
});

const { border, class: className } = Astro.props; 
---

<div class={cn(dropdownGroup({ border, className }))}>
  <slot />
</div>
