---
/* For each components that will use the modal, the script to open and close the
 * modal, will be put in that component.
 *
 * The only things required are the dialogId and closeId to be passed as props.
 *
 * The openId(button) for that modal will also be put in that component, but will
 * not be passed as a prop in the modal */

import VariantButton from "@components/buttons/VariantButton.astro"

interface Props {
  dialogId: string;
  closeId: string;
}

const { dialogId, closeId } = Astro.props;
---
<div class="w-full">
  <dialog 
    aria-modal="true" 
    id={dialogId}
    class=`dialog z-30 absolute w-full md:w-1/2 border-4 border-[var(--sl-color-accent)] dark:border-[var(--sl-color-accent-high)]
      dark:bg-[var(--sl-color-gray-6)] backdrop:backdrop-blur-md  translate-y-[50%] translate-x-4
      md:translate-x-[50%]`
  >
    <VariantButton
      icon="close"
      theme="simple"
      variant="primary"
      id={closeId}
      classes="absolute w-9 h-9 right-4"
      buttonLabel="close pop-up"
      iconLabel="close pop-up"
    />
    <slot />
  </dialog>
</div>
