---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import WhatsNewPageHeader from "@components/whatsnewpage/WhatsNewPageHeader.astro";
import ProfileCard from "@components/user/ProfileCard";
import AcceptCookies from "@components/AcceptCookies.astro";

export const prerender = false;

---
<StarlightPage frontmatter={{
  title: "Dashboard",
  description: "This is the user dashboard",
  tableOfContents: false
}}
>
  <ProfileCard client:load 
    iconSize="large"
    description="Sign In to unlock all notes"
    showPargraph
  /> 

  <AcceptCookies />

  <h1>What's New? 👀</h1>

  <WhatsNewPageHeader />

</StarlightPage>

<style>
.logo-profile {
  clip-path: url(#cliPath1);
}
</style>
