---
const { index } = Astro.props;
---
{/* This component houses the  */}
{/* container for the headers(tabs) */}
<div
  class:list={["tab-container"]} 
  class="bg-[--sl-color-gray-6] dark:bg-[--sl-color-gray-6] md:dark:bg-[#1a1816] rounded-md"
  role="tablist"
>
  <slot name="tab-list" />
</div>

{/* container for the content of the headers(tabs) */}
<div class:list={["tab-content"]}>
  <slot />
</div>

<script is:inline>
  /** 
   * The tab panels are displayed using the `aria-selected` attribute. 
   * If the attribute is set to true, the correlating panel is displayed
   */

  const tabs = document.querySelectorAll(".tab-header");
  const panels = document.querySelectorAll(".tab-panel");

  tabs.forEach((tab, index) => {
    // Show the panel of the initial tab
    if (tab.getAttribute('aria-selected') === "true") {
       panels[index].hidden = false;
    }

    tab.addEventListener("click", (event) => {
      /* Hide the panels of all the tabs and reset the styles of the tabs */
      tabs.forEach((tab) => tab.setAttribute("aria-selected", false));
      panels.forEach((panel) => (panel.hidden = true));

      // Show the click tab
      const activeTab = event.target;
      activeTab.setAttribute("aria-selected", true);
      panels[index].hidden = false;
    });
  });
</script>
