---
const { index } = Astro.props;
---

{/* container for the headers(tabs) */}
<div class:list={["tab-container"]} class="bg-[--sl-color-gray-6] dark:bg-[--sl-color-gray-6] md:dark:bg-[#1a1816] rounded-md">
  <slot name="tab-list" />
</div>

{/* container for the content of the headers(tabs) */}
<div class:list={["tab-content"]}>
  <slot />
</div>
<script is:inline>
  class Tab {}
</script>
<script is:inline>
  const tabs = document.querySelectorAll(".tab-header");
  const panels = document.querySelectorAll(".tab-panel");

  tabs.forEach((tab, index) => {
    // show the panel for the initial tab
    if (tab.getAttribute('aria-selected') === "true") {
       panels[index].hidden = false;
    }

    tab.addEventListener("click", (event) => {
      // reset to default for new values to be added
      tabs.forEach((tab) => tab.setAttribute("aria-selected", false));
      panels.forEach((panel) => (panel.hidden = true));

      // set the new values
      const activeTab = event.target;
      activeTab.setAttribute("aria-selected", true);
      panels[index].hidden = false;
    });
  });

  // set the defaults
  // tabs[0].setAttribute("aria-selected", true); // aria select the first element
  // panels[0].hidden = false; // show the first panel
</script>
