---
import ProfileDropdownMenuButton from "./ProfileDropdownMenuButton.astro";
import ThemeSelect from "@components/starlight/ThemeSelect.astro";
import FeedbackForm from "@components/forms/FeedbackForm.astro";
import Modal from "@components/modals/Modal.astro";
import FocusedMode from "@components/FocusedMode.astro";
import DropdownChildButton from "@components/buttons/DropdownChildButton.astro";
import ProfileCard from "@components/user/ProfileCard";

const serverUser = Astro.locals.user;

---

<section>
  {/* Dropdown Button */}
  <ProfileDropdownMenuButton />

  {/* Dropdown Menu */}
  <div
    id="user-profile-menu"
    class="profile-menu absolute w-56 h-auto rounded-md"
  >
    <!-- Profile -->
    <div class="gap-1 p-1 border-b border-b-[--sl-color-gray-5]">
      <ProfileCard client:load
        iconSize="small"
        button={{
          buttonHref: "/dashboard/profile",
          buttonContent: "Dashboard",
        }}
        description=""
        showPargraph={false}
      />
    </div>

    <!-- Buttons -->
    <div class="p-1">
      <div>
        <ThemeSelect />
      </div>

      <div>
        <DropdownChildButton id="open-feedback-modal" icon="comment">Feedback</DropdownChildButton>
        <Modal dialogId="feedback-form-modal" closeId="close-feedback-modal">
          <FeedbackForm />
        </Modal>
      </div>

      <div class="hidden md:block">
        <FocusedMode />
      </div>
    </div>

    <!-- Log out -->
    <div class="border-t border-[--sl-color-gray-5] p-1">
      <DropdownChildButton icon="external">Log out</DropdownChildButton>
    </div>
  </div>
</section>

<style>
  .profile-menu {
    visibility: var(--profile-menu-visibility, hidden);
    top: calc(var(--sl-nav-height) + var(--sl-nav-pad-y));
    right: var(--sl-nav-pad-y);
    background-color: var(--sl-color-gray-6);
    border: 1px solid var(--sl-color-gray-5);
    display: grid;
  }

  :global([aria-expanded="true"]) ~ .profile-menu {
    --profile-menu-visibility: visible;
  }

  :global([data-theme="light"]) .profile-menu {
    background-color: var(--sl-color-gray-7);
  }
</style>

<script>
  const feedbackFormModal = document.getElementById("feedback-form-modal") as HTMLDialogElement;
  const openFeedbackForm = document.getElementById("open-feedback-modal") as HTMLButtonElement;
  const closeFeedbackForm = document.getElementById("close-feedback-modal") as HTMLButtonElement;

  openFeedbackForm.onclick = () => feedbackFormModal.showModal();
  closeFeedbackForm.onclick = () => feedbackFormModal.close();
</script>

<script>
import { setUserInfo } from "@stores/userInfoStore";

setUserInfo({
  displayName: "Henry",
  email: "kimanihenry14489@gmail.com",
  photoURL: "https://unsplash.com"
});

console.log("setting user info");
</script>
