---
import ProfilePicture from "@components/user/ProfilePicture.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
import FocusedMode from "@components/FocusedMode.astro";
---

<section>
  <ProfilePicture profilePic="M" />
  <div
    id="user-profile-menu" 
    class="profile-menu absolute w-52 h-52 rounded-md"
  >
    <ThemeSelect />
    <FocusedMode />
  </div>
  </section>

<style>
.profile-menu {
  visibility: var(--profile-menu-visibility, hidden);
  top: calc(var(--sl-nav-height) + var(--sl-nav-pad-y));
  right: var(--sl-nav-pad-y);
  background-color: var(--sl-color-gray-6);
  border: 1px solid var(--sl-color-gray-5);
}

:global([aria-expanded='true']) ~ .profile-menu {
  --profile-menu-visibility: visible; 
}

:global([data-theme="light"]) .profile-menu {
  background-color: var(--sl-color-gray-7);
}
</style>
