---
/* Render responsive headings is its in a hero */

interface Props {
  rawHtml?: string;
  isHero: boolean;
  classes?: string;
}

const { rawHtml, isHero, classes } = Astro.props;

---
{ isHero ?
  <h1 class:list={classes} set:html={rawHtml} />
:
  <h1 class:list={classes}>
    <slot />
  </h1>
}

<style>
@font-face {
  font-family: "FredokaOne";
  src: url("/fonts/Fredoka-One.woff2")format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FredokaOneFallback';
  size-adjust: 90%;
  font-weight: 700;
  font-style: inherit;
  src: local("DejaVu Sans");
}
h1 {
  font-size: clamp(var(--sl-text-4xl), calc(1rem + 5vw), 3.7em);
  line-height: var(--sl-line-height-headings);
  font-family: 'FredokaOne', 'FredokaOneFallback', sans-serif;
  font-weight: 700;
  color: var(--sl-color-white);
}
</style>
