---
import { Icon } from "@astrojs/starlight/components";
import type { StarlightIcon } from "@astrojs/starlight/types";

interface Props {
  id?: string;
  icon: StarlightIcon;
  classes?: string;
}

const { id, icon, classes } = Astro.props;
---

<button class:list={["rounded-md", classes]} {id}>
  <span><Icon name={icon} /></span>
  <span><slot /></span>
</button>

<style>
:global([data-focused-mode='true']) #focused-mode-button {
  background-color: var(--sl-color-accent);
  color: white;
}

button {
  display: flex;
  gap: var(--sl-nav-pad-y);
  padding: .5em var(--sl-nav-pad-y);
  width: 100%;
  background-color: transparent;
  color: var(--sl-color-gray-1);
}
button:hover {
  background-color: var(--sl-color-gray-5);
  cursor: pointer;
}
:global([data-theme="light"]) button:hover {
  background-color: var(--sl-color-gray-6);
}
</style>
