/*
* Styles that modify starlight
*
* This is prefered when we only want to change the default starlight styles and 
* not the markup */

@layer override {
  .right-sidebar h2 {
    font-size: var(--text-xs) !important;
    text-transform: uppercase;
    color: var(--sl-color-gray-4) !important;
    font-weight: bold !important;
  }

  .right-sidebar a {
    padding-bottom: .45rem !important;
  }
  .right-sidebar a[aria-current="true"] {
    font-weight: 500;
    color: var(--color-accent-light) !important;
  }

  [data-theme="dark"] .right-sidebar a[aria-current="true"] {
    color: var(--color-accent-dark) !important;
  }

  .isMobile a {
    border-top: none !important;
  }

  site-search button[data-open-modal] {
    border: none !important;
    font-size: var(--text-xl) !important;
    background-color: transparent !important;
  }
  .search {
    position: relative;
  }
  site-search:hover::after{
    content: "Search";
    position: absolute;
    top: 4em;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: var(--sl-color-gray-6);
    border: 1px solid var(--sl-color-gray-5);
    border-radius: var(--radius-md);
    padding: .2em .7em;
    transition: .3s;
  }
  site-search button svg ~ *{
    display: none !important;
  }
}
