---
/* Render li elements in a styled ::marker either from an svg or defaults */

interface Props {
  custom: boolean;
  liNumber?: number;
}

const { custom, liNumber } = Astro.props;

---

{custom  === true ? 
(
  <li class="flex gap-2 items-center">
    <div class="h-5 w-5 grid place-items-center">
      <svg class="!h-full">
        <circle cx="10" cy="10" r="10" class="fill-[var(--sl-color-gray-6)]" />
        <text x="5" y="16" class="fill-[var(--sl-color-accent)] dark:fill-[var(--sl-color-accent-high)]">
          {liNumber}
        </text>
      </svg>
    </div>
    <span>
      <slot />
    </span>
  </li>
) : (
  <li 
    class="mb-1 marker:text-[var(--sl-color-accent)] dark:marker:text-[var(--sl-color-accent-high)]"
  >
    <slot />
  </li>
)}



