---
import CustomSplashPage from '@/layouts/CustomSplashPage.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  releases: CollectionEntry<'releaseNotes'>[];
  detailedVersion: string;
}

const { releases, detailedVersion } = Astro.props;
---
<CustomSplashPage title="Detailed ReleaseNote" template="splash">
  <div>Rendering the detailed release note {detailedVersion}</div>
</CustomSplashPage>
