---
/**
 * Use this component in the p.0.0.1 ..., to render the head
 * Render the header in the release notes overview page.
 */

import { Icon } from "@astrojs/starlight/components";
import { Link } from "lucide-react";

interface Props {
  heading: string;
  hrefToDetails: string;
}

const { heading, hrefToDetails } = Astro.props;
---

<h1 class="flex">
  <a class="flex" href={hrefToDetails}>
     {heading}&nbsp;<Icon class="inline-block" name="external" />
  </a>
</h1>



