---
/**
 * Just render what you are passed (entries)
 * Render the body of the release notes or changelogs
 */

import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';

interface Props {
  entry: CollectionEntry<'changelogs'> | CollectionEntry<'releaseNotes'>;
}

const { entry } = Astro.props;

---

<div>
  {render(entry).then(({ Content }) => (
    <Content />
  ))}
</div>
