---
import StarlightSplashLayout from "@layouts/StarlightSplashLayout.astro"
---
<StarlightSplashLayout 
  title="Error 500" 
  description="Internal server error"
>
  <p>Internal Server Error</p>
  <p>Return to the <a href="/dashboard/profile">dashboard</a></p>
</StarlightSplashLayout>

