---
import StarlightSplashLayout from "@layouts/StarlightSplashLayout.astro";
---

<StarlightSplashLayout 
  title="Error"
  description="Something went wrong"
>
  <h1>Something Went Wrong</h1>
  <div>
    <p>Try checking your internet connection and try again</p>
    <p>Return to the
      <a href="/dashboard/profile">Dashboard</a>
    </p>
  </div>
</StarlightSplashLayout>
