---
import StarlightSplashLayout from "@layouts/StarlightSplashLayout.astro";
---

<StarlightSplashLayout 
  title="Error"
  description="Something went wrong"
>
  <h1>Something Went Wrong</h1>
  <p>Return to the</p>
  <a href="/dashboard/profile">Dashboard</a>
</StarlightSplashLayout>
