---
import HeroTagline from "@components/hero/HeroTagline.astro";
import StarlightSplashLayout from "@layouts/StarlightSplashLayout.astro";
import SignIn from "@components/forms/Signin";

/* Check if the User has already signed in */
---
<StarlightSplashLayout
  title="Sign in"
  description="Sign in to Egg with either google or apple"
>
  <div class="grid place-items-center">
    <div>
      <HeroTagline isHero>
        Sign in to unlock all notes
      </HeroTagline>
    </div>

    <SignIn client:load />

  </div>
</StarlightSplashLayout>

