---
import FormalDocumentLayout from "@layouts/FormalDocumentLayout.astro";

export const prerender = true;

const title = 'TERMS OF USE'; 
const description = "";
---

<FormalDocumentLayout
  {title} {description}
>
  <article>
    <h1>TERMS OF USE</h1>
  </article>
</FormalDocumentLayout>
