---
import ParentOfLists from "@components/lists/ParentOfLists.astro";
import CustomizedLiElement from "@components/lists/CustomizedLiElement.astro";
import GradientContainer from "@components/GradientContainer.astro";
import FormatDate from "@components/FormatDate.astro";
import { getCollection } from "astro:content";
import { latestCollection } from "@lib/utils";
import VariantLinkButton from "@components/buttons/VariantLinkButton.astro";

const releaseNotes = await getCollection("releaseNotes"); 
const latestReleaseNote = latestCollection(releaseNotes);
const date = latestReleaseNote.data.date;
const features = latestReleaseNote.data.features;
---
<GradientContainer 
  classes="@container/whatsnew p-3 " 
  color="default"
>
  <div class="@md/whatsnew:flex @sm/whatsnew:p-3 @md/whatsnew:p-5">
    <div class="@md/whatsnew:basis-4/12 flex w-full @md/whatsnew:block">
      <div class="basis-1/2 @md/whatsnew:mb-3">
      <h1 class="!text-4xl @sm/whatsnew:!text-5xl !text-[var(--sl-color-gray-7)]">
        {latestReleaseNote.data.version}
      </h1>
    </div>
    <div class="basis-1/2 grid !m-0">
      <h3 class="!text-2xl !text-[var(--sl-color-gray-7)]">Released !</h3>
      <span class="italic text-[var(--sl-color-gray-6)] dark:text-[var(--sl-color-gray-4)]">
        <FormatDate {date} />
      </span>
    </div>
  </div>

    <div class="@md/whatsnew:basis-8/12 w-full !mt-1">
    <div class="@sm/whatsnew:pl-8">
      <h3 class="!text-[var(--sl-color-gray-7)] !text-2xl">Features</h3>
      <ParentOfLists type="unordered">
        {features.map((feature, index) => (
        <CustomizedLiElement custom liNumber={index+1}>
          { feature }
        </CustomizedLiElement>
        ))}
      </ParentOfLists>
    </div>
    <div class="flex items-center justify-end">
      <VariantLinkButton
        href={`/release-notes/${latestReleaseNote.id}`} 
        icon="open-book" 
        variant="primary"
        theme="orange"
      >Read More</VariantLinkButton>
    </div>
  </div>
</div>
</GradientContainer>

