---
import Default from "@astrojs/starlight/components/Footer.astro";
import AnchorList from "../AnchorList.astro";
import FeedbackForm from "../forms/FeedbackForm.astro";
import { LinkButton } from "@astrojs/starlight/components"; 
import FooterHeaders from "@/components/FooterHeaders.astro";
import CardGridLayout from "@/layouts/CardGridLayout.astro";

// Pages to display the custom Footer
const isHomepage = Astro.locals.starlightRoute.id === "";
const isChanglogPage = Astro.locals.starlightRoute.id === "changelog";
const isDetailedRNPage = Astro.locals.starlightRoute.id === "detailed-releasesnotes/*";
---
{
  isHomepage || isChanglogPage || isDetailedRNPage ? (
    <footer class="h-64 w-full mt-20  dark:bg-[#1a1816]">

      <CardGridLayout>
        {/* About  */}
        <div>
          <FooterHeaders>about</FooterHeaders>
          <ul>
            <AnchorList href="/about" text="More about Egg" />
            <AnchorList href="/privacy-policy" text="Privacy and Policy" />
            <AnchorList href="/terms-conditions" text="Terms and Condtions" />
            <AnchorList href="/software-license" text="License" />
          </ul>
        </div>

        {/* Socials */}
        <div>
          <FooterHeaders>socials</FooterHeaders>
          <div class="flex gap-4 mt-3">
            <LinkButton href="https://github.com/henry-kimani" icon="github" variant="secondary" >Github</LinkButton>
            <LinkButton href="mailto:ariphharts@gmail.com" icon="email" variant="secondary" >Email</LinkButton>
          </div>
        </div>

        {/* Feedback */}
        <div class="sm:col-span-2 lg:col-span-1">
          <FeedbackForm label="feedback" buttonText="Send" />
        </div>
      </CardGridLayout>

    <div class="text-center text-[var(--sl-color-gray-4)] ">Brought to you by, Egg 🥚</div>
    </footer>
  ) : (
    <Default {...Astro.props}>
      <slot />
    </Default>
  )
}
