---
import Default from "@astrojs/starlight/components/ContentPanel.astro";
import FocusedMode from "@components/FocusedMode.astro";
---

<Default>
  <slot />
  <div>
    <FocusedMode />
  </div>
</Default>
