---
import SiteTitle from "@astrojs/starlight/components/SiteTitle.astro";
import Search from "@astrojs/starlight/components/Search.astro";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
import VariantButton from "@components/buttons/VariantButton.astro";
import Modal from "@components/modals/Modal.astro";
import FeedbackForm from "@components/forms/FeedbackForm.astro";
---

<div class="header sl-flex">
  <div class="title-wrapper sl-flex">
    <SiteTitle />
  </div>

  <div class="flex justify-between items-center md:w-full print:hidden">
    <Search />

    <div class="grid place-items-center ml-3">
      <VariantButton
        id="open-feedback-modal"
        icon="comment"
        theme="simple"
        variant="minimal"
        buttonLabel="Open a feedback form in a pop-up"
        iconLabel="feedback icon to open a pop-up with a feedback form"
        classes="open-modal-button"
      />
      <Modal dialogId="feedback-form-modal" closeId="close-feedback-modal">
        <FeedbackForm />
      </Modal>
    </div>
  </div>

  <div class="sl-hidden md:sl-flex print:hidden right-group">
    <div class="sl-flex social-icons">
      <SocialIcons />
    </div>
    <ThemeSelect />
  </div>
</div>

<style>
.header {
  gap: var(--sl-nav-gap);
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.title-wrapper{
  padding: 0.25rem;
  margin: -0.25rem;
  min-width: 0;
}

.right-group,
.social-icons {
  gap: 1rem;
  align-items: center;
}

.social-icons::after {
  content: '';
  height: 2rem;
  border-inline-end: 1px solid var(--sl-color-gray-5);
}

@media (min-width: 50rem) {
  :global(:root[data-has-sidebar]) {
    --__sidebar-pad: calc(2 * var(--sl-nav-pad));
  } 
  :global(:root:not([data-has-toc])) {
    --__toc-width: 0rem;
  }
  .header {
    --__sidebar-width: max(0rem, var(--sl-content-inline-start, 0rem) - var(--sl-nav-pad-x));
    --__main-column-fr: calc(
      ( 
        100% + var(--__sidebar-pad, 0rem) - var(--__toc-width, var(--sl-sidebar-width)) -
        ( 2 * var(--__toc-width, var(--sl-nav-pad-x))) - 
        var(--sl-content-inline-start, 0rem) - 
        var(--sl-content-width)
      ) / 2
    );

    display: grid;
    grid-template-columns: 
      /* 1. (site title): runs up until the main content column's left edge or
      * or the width of the title, which ever is the largest */
      minmax(
        calc(var(--__sidebar-width) + max(0rem, var(--__main-column-fr) - var(--sl-nav-gap))),
        auto
      )
      /* 2. (search box): all the free space available. */
      1fr
      /* 3. (right items): use the space that they need. */
      auto;
    align-content: center;
  }
}
</style>

<script>
const feedbackFormModal = document.getElementById('feedback-form-modal') as HTMLDialogElement;
const openFeedbackForm = document.getElementById('open-feedback-modal') as HTMLButtonElement;
const closeFeedbackForm = document.getElementById('close-feedback-modal') as HTMLButtonElement;

openFeedbackForm.onclick = () => feedbackFormModal.showModal();
closeFeedbackForm.onclick = () => feedbackFormModal.close();
</script>
