---
import TitleAndDescriptionCard from "../TitleAndDescriptionCard.astro";
import ThemedImageContainer from "../ThemedImageContainer.astro";

const { data } = Astro.locals.starlightRoute.entry;
const { title=data.title, tagline, image, actions=[] } = data.hero || {};

let darkImage: ImageMetadata;
let lightImage: ImageMetadata;

if (image ) {
  if ("dark" in image) {
    darkImage = image.dark;
    lightImage = image.light;
  }
}

---
<div class:list={["hero grid gap-7 md:gap-0 sm:grid-cols-2"]}>
  <TitleAndDescriptionCard
    title={title},
    description={tagline || ""}
    align="hero"
    linkButtons={
    actions.map(({ text: name, link: href, variant })=> ({ name, href, variant, icon: "right-arrow", theme: "simple" }))
    }
    parentClasses="stack" 
  />
  {/*
    The styles for class `.stack` are in the Component.
    Placing the styles here does not work.
    Also, applying the class stack in the component, applies the styles everywhere
    the component is used. And this is not the desired outcome.
    The styles are to be scope only in that component
  */}

  <article class="grid place-items-center">
    {
      darkImage && <ThemedImageContainer
        dark={darkImage || "/"}
        light={lightImage || "/"}
        alt={image?.alt || ""}
        loading="eager"
      />
    }
  </article>
</div>

<style>
@media (min-width: 1100px) {
  .hero {
    padding-block: clamp(1.5rem, calc(1rem + 10vmin), 5rem);
  }
}
</style>
