---
import TitleAndDescriptionCard from "../TitleAndDescriptionCard.astro";

const { data } = Astro.locals.starlightRoute.entry;
const { title=data.title, tagline, actions=[] } = data.hero || {};

---
<div class:list={["hero grid gap-7 md:gap-0 sm:grid-cols-2"]}>
  <TitleAndDescriptionCard
    title={title},
    description={tagline || ""}
    align="hero"
    linkButtons={
      actions.map(({ text: name, link: href, variant })=> 
        ({ 
          name, 
          href, 
          variant, 
          icon: "right-arrow", 
        })
      )
    }
    parentClasses="stack" 
  />
  {/*
    The styles for class `.stack` are in the Component.
    Placing the styles here does not work.
    Also, applying the class stack in the component, applies the styles everywhere
    the component is used. And this is not the desired outcome.
    The styles are to be scope only in that component
  */}

  <article class="grid place-items-center">
    <iframe
      title="100 seconds of Egg"
      src="https://player.mux.com/FRC90000bhzJNV4RtVQgPC7GXoEzwol00RH01AvWzdcpFv00?metadata-video-title=100secs+of+Egg&video-title=100secs+of+Egg&accent-color=%23ea580c"
      style="width: 95%; border: none; aspect-ratio: 16/9; margin: 2rem;"
      allow="accelerometer; gyroscope; encrypted-media;"
      allowfullscreen
    ></iframe>
    </article> 
</div>

<style>
@media (min-width: 1100px) {
  .hero {
    padding-block: clamp(1.5rem, calc(1rem + 10vmin), 4.5rem);
  }
}
</style>
