---
import { PAGE_TITLE_ID } from "node_modules/@astrojs/starlight/constants";
import { cn } from "@lib/utils";

const routeData = Astro.locals.starlightRoute;
const pageTitle = routeData.entry.data.title;

const isDashboardProfile = routeData.id === "dashboard/profile";
const centerPageTitle = routeData.id === "signin" || routeData.id === "about";

---

{
  isDashboardProfile ? (
    <h1 id={PAGE_TITLE_ID}>
      <span class="user-greeting">Greetings</span>&nbsp;
      <span 
        class="output-type bg-linear-to-b bg-clip-text text-transparent from-accent-light to-red-600 dark:from-accent-dark dark:to-accent-dark">
      </span>
    </h1>
) : (
    <h1
      id={PAGE_TITLE_ID}
      class={cn(`text-accent-light dark:text-accent-dark`, 
      {
        "text-center" : centerPageTitle
      })}
    >
      {pageTitle}
    </h1>
  )
}

<style>
  @layer starlight.core {
    h1 {
      font-size: clamp(.1em, calc(.5rem + 5vw), 2.5em);
      line-height: var(--sl-line-height-headings);
      font-weight: 600;
    }
    .user-greeting {
      color: var(--sl-color-white);
    }
  }
</style>

<script>
  import { auth } from "@firebase/client";
  import { onAuthStateChanged } from "firebase/auth";

  const outputUserName = document.querySelector(".output-type") as HTMLSpanElement;

  onAuthStateChanged(auth, user => {

    if (user?.displayName) {
      const inputUsername = user.displayName.split(" ")[0]; // Get the first name
      outputUserName.textContent = inputUsername;
    } else {
      outputUserName.textContent = "Anonymous";
    }
  });
</script>
