---
import SidebarPersister from "@astrojs/starlight/components/SidebarPersister.astro";
import SidebarSublist from "@components/starlight/SidebarSublist.astro";
import MobileMenuFooter from "@components/starlight/MobileMenuFooter.astro";
import { ReactLink } from "@components/buttons/ReactLink";
import { IconUserCircle, IconCarouselHorizontal } from "@tabler/icons-preact";

const { pathname } = Astro.url;
const { sidebar, entry } = Astro.locals.starlightRoute;

type SidebarEntry = typeof sidebar;

// Make sure that all top level items in the side bar are groups not links
type Group = Extract<SidebarEntry, { type: "group" }>;
function assertGroups(sidebar: SidebarEntry): asserts sidebar is Group[] {
  for (const entry of sidebar) {
    if (entry.type !== "group")
      throw new Error("Top-level links are not allowed in the docs");
  }
}
assertGroups(sidebar);

// Look up for the current page. The data is later used to show the current page
const isCurrent = (sidebar: SidebarEntry): boolean =>
  sidebar
  .map(entry => entry.type === "link" ? entry.isCurrent : isCurrent(entry.entries))
  .some(entry => entry === true);

// Match all the paths for courses
const coursesRoutes = /^\/year.*/i;

// Match docs route
const docsRoute = /^\/docs.*/i;

const PROFILE = 0; // The first group in the array is profile
const DOCS = 1; // The second group in the array is the documentation
---

<SidebarPersister>
  <section class="grid gap-3">
    <ReactLink
      href="/dashboard/profile"
      variant={"minimal"}
      className="text-gray-500 hover:bg-gray-200 justify-start gap-4 ps-4"
    ><IconUserCircle />Dashboard</ReactLink>
    <ReactLink
      href="/units"
      variant={"minimal"}
      className="text-gray-500 hover:bg-gray-200 justify-start gap-4 ps-4"
    ><IconCarouselHorizontal />Units</ReactLink>
  </section>

  {coursesRoutes.test(pathname) ?
  ( // Normal Units sidebar
    sidebar.map(({ entries }) => (
      <SidebarSublist 
        sublist={
          /* Only add the data in the sidebar that*/
          entries.filter(e => e.label === entry.data.unitLabel)
        }
      />
    ))
  ) : (
    docsRoute.test(pathname) ? 
      <SidebarSublist sublist={sidebar[DOCS].entries} /> : 
      <SidebarSublist sublist={sidebar[PROFILE].entries} nested /> 
    )
  }
</SidebarPersister>

<div class="md:sl-hidden">
  <MobileMenuFooter />
</div>
