---
import SidebarPersister from "@astrojs/starlight/components/SidebarPersister.astro";
import SidebarDynamicLinks from "@components/starlight/SidebarDynamicLinks.astro";
import MobileMenuFooter from "@components/starlight/MobileMenuFooter.astro";
import SidebarStaticLinks from "@components/starlight/SidebarStaticLinks.astro";
import { assertGroups } from "@lib/utils";
import { getCourseSidebarData } from "@lib/data";
import { coursesRoutes, docsRoute } from "@lib/regex";

const PROFILE = 0; // The first group in the array is profile
const DOCS = 1; // The second group in the array is the documentation



const profileRoute = "/dashboard/profile";

const { pathname } = Astro.url;
const { sidebar, entry } = Astro.locals.starlightRoute;

// Make sure the top level items are groups not links
assertGroups(sidebar);

const courseData = getCourseSidebarData(sidebar, entry.data.unitLabel);
---

<SidebarPersister>
  <SidebarStaticLinks />

  {
    // Topics Sidebar
    /* Only show the "topics" in the sidebar that matches the selected "unit" */
    coursesRoutes.test(pathname) && 
    <SidebarDynamicLinks title="topics" entry={courseData} />
  }

  {
    // Documentation Sidebar - only show this sidebar if we are on a documentation route
    docsRoute.test(pathname) && (
      <SidebarDynamicLinks title="documentation" entry={sidebar[DOCS]} />
    )
  }

  {
    // Profile's Sidebar
    pathname === profileRoute && (
      <SidebarDynamicLinks entry={sidebar[PROFILE]} />
    )
  }
</SidebarPersister>

<div class="md:sl-hidden">
  <MobileMenuFooter />
</div>
