---
/*Render containers that have gradient backgrounds */

import { cn } from "@lib/utils";

interface Props {
  color: "default" | "blue" | "green";
  classes?: string;
}

const { color, classes} = Astro.props;
---

<div
  class:list={cn(
    `w-full rounded-xl`, classes,
    {
      "text-[var(--sl-color-gray-6)] bg-gradient-to-b from-red-500 to-60% to-[var(--sl-color-accent)] dark:from-[var(--sl-color-accent-high)] dark:to-[var(--sl-color-accent-high)]":
        color === "default",
    }, 
    {
      "bg-gradient-to-br from-blue-500 to-blue-700": color === "blue"
    },
    {
      "bg-gradient-to-br from-green-500 to-green-600 dark:to-green-700": color === "green"
    }
  )}
>
  <slot />
</div>
