<progress-indicator title="scroll to top" class="progress-scroll-container" aria-hidden="true">
  <scroll-to-top>
    <button aria-labelledBy="scroll to the top">
      <svg viewBox="0 0 16 16">
        <circle 
          cx="8" 
          cy="8"
          r="7"
          fill="none"
          stroke-width="1.5"
        />
        <path 
          d="
          M 5.5,8
          L 8,4
          L 10.5,8
          M 8,11
          L 8,4
          " 
        />
      </svg>
    </button>
  </scroll-to-top>
</progress-indicator>

<script>

class ProgressIndicator extends HTMLElement {
  private circleProgressElem: SVGCircleElement | null;
  private totalCircleProgress: number | undefined;
  private scrollDelay: number = 200;

  constructor() {
    super();
    this.circleProgressElem = this.querySelector("circle");
    this.totalCircleProgress = this.circleProgressElem?.getTotalLength();

    // Define the circle's circumfrence
    if (this.circleProgressElem) {
      this.circleProgressElem.style.strokeDasharray = String(this.totalCircleProgress);
    }
  }

  updateProgressScroll() {
    if (document) {

      if (this.circleProgressElem && this.totalCircleProgress) {
        let currentScrollHeight = window.scrollY || document.documentElement.scrollTop;
        let totalScrollableHeight = document.documentElement.scrollHeight - window.innerHeight; // Scrollable height

        this.toggleCircleElem(currentScrollHeight);

        let scrollProgress = Math.abs((
          (currentScrollHeight * this.totalCircleProgress) / totalScrollableHeight
        ) - this.totalCircleProgress);

        this.circleProgressElem.style.strokeDashoffset= String(scrollProgress);
      }
    }
  }

  /** Hide the parent element if the scroll position is at the top */
  toggleCircleElem(currentScrollHeight: number) {
    if (currentScrollHeight > this.scrollDelay) {
      this.setAttribute("aria-hidden", "false");
    } else {
      this.setAttribute("aria-hidden", "true");
    }
  }

  connectedCallback() {
    /* Using an arrow function since they inherit the this arg */
    window.addEventListener("scroll", () => {
      this.updateProgressScroll();
    });

    window.addEventListener("load", () => {
      this.updateProgressScroll();
    });
  }
}

class ScrollToTop extends HTMLElement {
  private scrollToTopBtn: HTMLButtonElement | null;
  constructor() {
    super();

    this.scrollToTopBtn = this.querySelector("button");
  }

  scrollToTop() {
    if (this.scrollToTopBtn) {
      document.documentElement.scrollTop = 0;
    }
  }

  connectedCallback() {
    this.scrollToTopBtn?.addEventListener("click", () => this.scrollToTop());
  }
}

customElements.define("progress-indicator", ProgressIndicator);
customElements.define("scroll-to-top", ScrollToTop);
</script>

<style>
{/* Dont show in the hero page. Only show in pages with the sidebar and the table of contents */}
html:is(:not([data-has-hero]), [data-has-sidebar], [data-has-toc]) .progress-scroll-container {
  --progress-indicator-w: 3rem;
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  width: var(--progress-indicator-w);
  height: var(--progress-indicator-w);
  z-index: 3;
}

progress-indicator {
  background-color: var(--sl-color-gray-6);
  border-radius: 50%;
}

progress-indicator[aria-hidden="true"] {
  visibility: hidden;
}
svg {
  width: 100%;
  fill: none;
}

path {
  stroke: var(--color-accent-light);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

circle {
  stroke: var(--color-accent-light);
  stroke-linecap: round;
}

[data-theme="dark"] circle {
  stroke: var(--color-accent-dark);
}
button {
  border: none;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

</style>
