---
/* Render responsive headings */

interface Props {
  rawHtml?: string;
}

const { rawHtml } = Astro.props;

---

<h1 set:html={rawHtml}>
  <slot />
</h1>

<style>
h1 {
  font-size: clamp(var(--sl-text-5xl), calc(1rem + 5vw), var(--sl-text-6xl));
  line-height: var(--sl-line-height-headings);
  font-weight: 700;
  color: var(--sl-color-white);
}
</style>
