---
interface Props {
  textProfilePic: string;
}

const { textProfilePic } = Astro.props;
---

<div
  class=`grid place-items-center 
    bg-[var(--sl-color-gray-6)] rounded-full border border-[var(--sl-color-gray-5)]
    dark:bg-[var(--sl-color-black)]
`
>
  {textProfilePic}
</div>
