---
/* Render a styled anchor tag according to the site's theme */

interface Props {
  href: string;
  name: string;
};

const { href, name } = Astro.props;
---

<a 
  {href}
  class:list={[`hover:no-underline
    text-[var(--sl-color-gray-2)] hover:text-[var(--sl-color-accent)] 
    dark:text-white dark:hover:text-[var(--sl-color-accent-high)] 
  `]}
>{name}</a>
