---
/* Render a styled anchor tag according to the site's theme */

interface Props {
  href: string;
  name: string;
};

const { href, name } = Astro.props;
---

<a 
  {href}
  class:list={[`hover:no-underline
    text-(--sl-color-gray-2) hover:text-accent-light
    dark:text-white dark:hover:text-accent-dark 
  `]}
>{name}</a>
