---
import UnitsCarousel from "@components/carousel/UnitsCarousel.astro";
import { getYearSidebarData } from "@lib/data";

const { sidebar } = Astro.locals.starlightRoute;

const year3 = getYearSidebarData(sidebar, "Year Three");
const year1 = getYearSidebarData(sidebar, "Year One");
---

<div class="flex flex-col gap-10">
  <UnitsCarousel yearName="Year 3" yearData={year3} />
  <UnitsCarousel yearName="Year 1" yearData={year1} />
</div>

