---
/* Render diffrent buttons depending on theme */
import { LinkButton } from "@astrojs/starlight/components";
import type { StarlightIcon } from "@astrojs/starlight/types";
import { cn } from "@lib/utils";

interface Props {
  link: boolean;
  href: string;
  icon: StarlightIcon | undefined;
  theme: "simple" | "blue" | "green" | "orange" ;
  variant: "primary" | "secondary" | "minimal";
  classes?: string;
}

const { link, href, icon, variant, classes, theme } = Astro.props;
---

{ 
  !link ? (
    <button>
      close
    </button>
  ): (
    <LinkButton
      {href} {icon} {variant} 
      class:list={cn([classes], 
        {
          "": theme === "simple",
          "!m-0 !bg-[var(--sl-color-gray-7)] !text-blue-700 border-none dark:!bg-[var(--sl-color-gray-6)] dark:!text-[var(--sl-color-gray-1)]": theme === "blue",
          "!m-0 !bg-[var(--sl-color-gray-7)] !text-green-600 border-none dark:!bg-[var(--sl-color-gray-6)] dark:!text-[var(--sl-color-gray-1)]": theme === "green",
          "!m-0 !bg-[var(--sl-color-gray-7)] !text-[var(--sl-color-accent)] border-none dark:!bg-[var(--sl-color-gray-6)] dark:!text-[var(--sl-color-accent-high)]": theme === "orange",
        }
      )}
    >
      <slot/>
    </LinkButton>   
  )
}


