---
/**
 * Render a carousel based on the given yearData
 *
 * @param yearName - name of the container
 * @param yearData - the data you want to render
 * */

import { SidebarEntry } from "node_modules/@astrojs/starlight/utils/routing/types";
import Carousel from "@components/carousel/Carousel.astro";
import CarouselContainer from "@components/carousel/CarouselContainer.astro";
import CarouselSlide from "@components/carousel/CarouselSlide.astro";
import { getTitleAndDescription, getUnitcodeFromPathname } from "@lib/data";
import UnitCode from "@components/carousel/UnitCode.astro";

interface Props {
  yearName: string;
  yearData: SidebarEntry;
}

const { yearName, yearData } = Astro.props;
---

<div class="mb-5">
  <h3>{yearName}</h3>
  <div class="grid">
    {
      yearData.type === "group" ? (
        <Carousel>
          <CarouselContainer>
            {yearData.entries.map((unit) => {
              // Don't include units with no topics
              if (unit.type === "group" && unit.entries.length > 0) {
                if (unit.entries[0].type === "link") {
                  return (
                    <CarouselSlide
                      class={"hover:bg-gray-100 dark:hover:bg-gray-800"}
                    >
                      <div class="relative flex flex-col p-4 h-full">
                        <h5 class="">
                          {unit.label}
                          <a href={unit.entries[0].href} class="no-underline">
                            <span class="absolute inset-0" />
                          </a>
                        </h5>
                        <div>
                          <UnitCode
                            variant={"card"}
                            unitCode={getUnitcodeFromPathname(
                              unit.entries[0].href
                            )}
                          />
                        </div>
                        <p class="text-gray-500 dark:text-gray-400">
                          {
                            getTitleAndDescription(unit.entries[0].href)
                              ?.description
                          }
                        </p>
                      </div>
                    </CarouselSlide>
                  );
                }
              }
            })}
          </CarouselContainer>
        </Carousel>
      ) : null
    }
  </div>
</div>
