@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

@layer base {
  :root {
    --radius: 0.5rem;
    --sl-font: 'DejaVu Sans', sans-serif;
  }
  nav, h4 {
    font-family: 'Quicksand Variable', sans-serif;
  }
  h1, h2, h3 {
    font-family: 'Fredoka Variable', sans-serif;
  }
  strong {
    font-family: "Noto Sans Lao Variable", sans-serif;
    letter-spacing: .01rem;
    font-weight: 800;
  }
}