@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

@layer base {
  @font-face {
    font-family: 'Fallback';
    size-adjust: 93.3%;
    ascent-override: 100%;
    src: local('DejaVu Sans');
  }
  :root {
    --radius: 0.5rem;
    --sl-font: 'QuickSand Variable', 'Fallback', sans-serif;
    letter-spacing: .017rem;
    font-size: 16px;
  }
  nav, h4 {
    font-family: 'QuickSand Variable', sans-serif;
  }
  .skeleton {
    background: linear-gradient(-45deg, var(--sl-color-gray-6) 40%, var(--sl-color-gray-5) 50%, var(--sl-color-gray-6) 60%);
    background-size: 300%;
    background-position-x: 100%;
  }
}

