---
/**
 * Render custom pages that are housed with starlight but are splash, meaning
 * they don't show the sidebar
 */
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import type { StarlightPageProps } from "@astrojs/starlight/components/StarlightPage.astro";

interface Props {
  frontmatter: StarlightPageProps["frontmatter"];
  class?: string;
}

const { frontmatter, class: className } = Astro.props;
---
<StarlightPage frontmatter={frontmatter}>
  <div class:list={[className]}>
    <slot />
  </div>
</StarlightPage>