
{/* Render a container with grid that has three columns. Its responsive with
 * rendering different layouts for different screents */}

<section class="mt-16 lg:mt-0 grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
  <slot />
</section>
