---

/**
  * Receive dark and light theme images.
  * 
  * Position the images with object fit contain.
  *
  */
import { Image } from "astro:assets";

/**
  * Render light or dark images depending on the theme
  */
export interface Props {
  dark: ImageMetadata;
  light: ImageMetadata;
  alt: string;
  imgClasses?: string;
  loading: "eager" | "lazy";
}

const {
  dark: darkImage,
  light: lightImage,
  alt,
  imgClasses,
  loading,
} = Astro.props;

// Added all the attributes including the optional
const imageAttr = {
  width: 400,
  height: 400,
  alt,
  loading,
};


---
<div class:list={["grid place-items-center"]}>
  {/* Light Image */}
  <Image src={lightImage} {...imageAttr} class:list={["dark:sl-hidden drop-shadow-xl", imgClasses]} />

  {/* Dark Image */}
  <Image src={darkImage} {...imageAttr} class="light:sl-hidden" />
</div>

<style>
  img {
    object-fit: contain;
    width: min(100%, 20rem);
    height: auto;
  }

</style>



